<div class="bg-primary-content min-h-screen">
  <div class="mx-auto max-w-xs">
    <h1 class="text-center py-20"><span class="text-base md:text-xl font-bold"><%= t('.title') %></span></h1>
    <%= render "form", user: @user %>
  </div>
</div>